.current {
    background: #263A3B;
    width: 250px;
    display: flex;
    margin: 10px auto 20px;
}

input, select{
    background: #263A3B;
    border:0;
    color:#fff;
}

input{
    padding-left: 10px;
}
select{
    padding: 15px;
}